<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lobster&family=Neonderthaw&family=Rampart+One&family=Trade+Winds&display=swap" rel="stylesheet">
    <link href="@Url.Content("~/Content/homePage.css")" rel="stylesheet" type="text/css" />
</head>



<body>
    <nav class="navbar">
        <div class="logo"><img src="~/images/אינדי.jpeg" class="logoImage" /></div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Shoes", "ShoesPage", "Shoes")</li>
            <li>@Html.ActionLink("Shirts", "ShirtsPage", "Shirts")</li>
            <li>@Html.ActionLink("Pants", "ShowPantsall", "Pants")</li>
            <li>@Html.ActionLink("Sport Item", "EquipmentPage", "SportEquipment")</li>
            </div>
        </ul>
        <div class="logo"><img src="~/images/טק קריירה.jpeg" class="logoImage" /></div>
    </nav>

    
    <div>
        @RenderBody();
        <hr />
    </div>

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.facebook.com/eden.tas"><i class="iconify" data-icon="ion:logo-facebook" data-width="35" data-height="35"></i></a><a href="https://www.linkedin.com/in/eden-genet-tasama-8a2a18220/"><i class="iconify" data-icon="ion:logo-linkedin" data-width="35" data-height="35"></i></a><a href="https://github.com/EdenGenetTasama"><i class="iconify" data-icon="ion:logo-github" data-width="35" data-height="35"></i></a><a href="https://web.whatsapp.com/"><i class="iconify" data-icon="ion:logo-whatsapp" data-width="35" data-height="35"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="list-inline-item">@Html.ActionLink("Shoes", "ShoesPage", "Shoes")</li>
                <li class="list-inline-item">@Html.ActionLink("Shirts", "ShirtsPage", "Shirts")</li>
                <li class="list-inline-item">@Html.ActionLink("Pants", "ShowPantsall", "Pants")</li>
                <li class="list-inline-item">@Html.ActionLink("Sport Item", "EquipmentPage", "SportEquipment")</li>
            </ul>
            <p class="copyright">Eden Genet Tasama</p>
        </footer>
    </div>

    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
