@using ShoesStroreWebApplication__.NET_Project.Models;

@{
    ViewBag.Title = "EquipmentPage";
}

<h2 class="ShoesHeader">EquipmentPage</h2>




<link href="@Url.Content("~/Content/shoe.css")" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Neonderthaw&display=swap" rel="stylesheet">


<div>
    <a class="ChangeToSaleOnly" href="@Url.Action("EquipmentPage","sportEquipment")"><button type="button">Equipment Page</button></a>
    @*<a class="ChangeToSaleOnly" href="@Url.Action("ManegerTableShoe","Shoes")"><button type="button">Manger Table</button></a>*@


    <div class="cardContainer">
        @foreach (sportEquipment item in ViewBag.allEquipment)
        {
            <div class="cardDiv">
                <img src=@item.linkToImage class="imageInCard">
                <h4 class="shoeInfo">@item.productName @item.sportBranch</h4>
                <p class="priceAndCompanyInfo">
                    @item.productPrice$  @item.productCompany
                </p>

            </div>
        }
    </div>



</div>


