@using ShoesStroreWebApplication__.NET_Project.Models;

@{
    ViewBag.Title = "MangerMode";
}

<h2 class="tableHeader">MangerMode</h2>



<link href="@Url.Content("~/Content/mangerTable.css")" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Neonderthaw&display=swap" rel="stylesheet">

<a class="ChangeToSaleOnly" href="@Url.Action("EquipmentPage","sportEquipment")"><button type="button">All Equipment</button></a>
<a class="ChangeToSaleOnly" href="@Url.Action("OnlyBaskBallEquipment","sportEquipment")"><button type="button">Only Basketball</button></a>
<a class="ChangeToSaleOnly" href="@Url.Action("OnlyFootballEquipment","sportEquipment")"><button type="button">Only Football</button></a>
<div>
    <table id="TableId">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Id</th>
                <th>Branch</th>
                <th>Product</th>
                <th>Company</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (sportEquipment item in @ViewBag.MangerMode)
            {
            <tr>
                <td><img src="@item.linkToImage" class="imageInTable" /></td>
                <td>@item.Id</td>
                <td>@item.sportBranch</td>
                <td>@item.productName</td>
                <td>@item.productCompany</td>
                <td>@item.productPrice$</td>
                <td>@item.productAmount</td>
                <td>@item.SportClubsID</td>
            </tr>
            }

        </tbody>


    </table>
</div>
