@using ShoesStroreWebApplication__.NET_Project.Models;


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/shoe.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>Shoes Section</h2>
    <div>
        <div>
            @foreach (Shoe item in ViewBag.allShoes)
            {
                <div class="card">
                    <img src=@item.linkImage><br />
                    <div class="card-body">
                        <h5 class="c-details">  @item.shoeType </h5>
                        @item.company <br />
                        @item.shoePrice
                    </div>
                </div>
            }
        </div>

        <div>
            <table id="TableId">
                <tr>
                    <th class="THline">&nbsp;</th>
                    <th class="THline">Shoe</th>
                    <th class="THline">Model</th>
                    <th class="THline">Price</th>
                    <th class="THline">Sall</th>
                </tr>

                @foreach (Shoe shoe in @ViewBag.allShoes)
                {
                    <tr>
                        <td><img src="@shoe.linkImage" id="imageInTable" /></td>
                        <td class="THline">@shoe.shoeType</td>
                        <td class="THline">@shoe.shoeModel</td>
                        <td class="THline">@shoe.shoePrice</td>
                        <td class="THline">@shoe.isOnSall</td>
                    </tr>
                }



            </table>
        </div>

    </div>
    <footer></footer>
</body>


</html>
