@using ShoesStroreWebApplication__.NET_Project.Models;



<head>
    <link href="@Url.Content("~/Content/shoe.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>Shoes Section</h2>
    <div>
        <a class="ChangeToSaleOnly" href="@Url.Action("ShoesOnSale","Shoes")"><button type="button">Sale only</button></a>
        <a class="ChangeToSaleOnly" href="@Url.Action("ManegerTableShoe","Shoes")"><button type="button">Manger Table</button></a>


        <div class="cardContainer">
            @foreach (Shoe item in ViewBag.allShoes)
            {
                <div class="cardDiv">
                    <img src=@item.linkImage class="imageInCard">
                    <h4 class="shoeInfo">@item.shoeType @item.shoeModel</h4>
                    <p class="shoeInfo">
                        @item.shoePrice$  @item.company
                    </p>
                    @if (@item.isOnSall)
                    {
                        <div>on sale</div>
                    }

                </div>
            }
        </div>



    </div>

</body>
