@using ShoesStroreWebApplication__.NET_Project.Models;


<link href="@Url.Content("~/Content/shoe.css")" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Neonderthaw&display=swap" rel="stylesheet">



<h2 class="ShoesHeader">Shoes Section</h2>
<div>


    <div class="divOfButton">
    <a class="ChangeToSaleOnly" href="@Url.Action("ShoesOnSale","Shoes")"><button type="button" class="ButtonChangeView">Sale only</button></a>
    <a class="ChangeToSaleOnly" href="@Url.Action("ManegerTableShoe","Shoes")"><button type="button">Manger Table</button></a>
    </div>


    <div class="cardContainer">
        @foreach (Shoe item in ViewBag.allShoes)
        {
            <div class="cardDiv">
                <img src=@item.linkImage class="imageInCard">
                <h4 class="shoeInfo">@item.shoeType @item.shoeModel</h4>
                <p >
                    @if (@item.isOnSall)
                    {
                        <div class="onOffSaleLine">on sale</div>
                    }
                    else
                    {
                        <div class="onOffSaleLine">not on sale</div>
                    }
                </p>
                <p class="priceAndCompanyInfo">
                    @item.shoePrice$  @item.company
                </p>

            </div>
        }
    </div>



</div>


