@using ShoesStroreWebApplication__.NET_Project.Models;



<head>
    <link href="@Url.Content("~/Content/shoe.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>Shoes Section</h2>
    <div>
        <a class="ChangeToSaleOnly" href="@Url.Action("ShoesOnSale","Shoes")"><button type="button">Sale only</button></a>

        <div class="cardContainer">
            @foreach (Shoe item in ViewBag.allShoes)
            {
                <div class="cardDiv">
                    <img src=@item.linkImage class="imageInCard">
                    <h4 class="shoeInfo">@item.shoeType @item.shoeModel</h4>
                    <p class="shoeInfo">
                        @item.shoePrice$  @item.company
                    </p>
                    @if (@item.isOnSall)
                    {
                        <div>on sale</div>
                    }

                </div>
            }
        </div>

        @*<div>
                <table id="TableId">
                    <tr>
                        <th class="THline">&nbsp;</th>
                        <th class="THline">Shoe</th>
                        <th class="THline">Model</th>
                        <th class="THline">Price</th>
                        <th class="THline">Sall</th>
                    </tr>

                    @foreach (Shoe shoe in @ViewBag.allShoes)
                    {
                        <tr>
                            <td><img src="@shoe.linkImage" id="imageInTable" /></td>
                            <td class="THline">@shoe.shoeType</td>
                            <td class="THline">@shoe.shoeModel</td>
                            <td class="THline">@shoe.shoePrice</td>
                            <td class="THline">@shoe.isOnSall</td>
                        </tr>
                    }




                </table>
            </div>*@

    </div>

</body>
