@using ShoesStroreWebApplication__.NET_Project.Models;

@{
    ViewBag.Title = "SortByPricePants";
}

<h2 class="ShoesHeader">SortByPricePants</h2>

@{
    ViewBag.Title = "SortByPriceShirts";
}

<link href="@Url.Content("~/Content/shoe.css")" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Neonderthaw&display=swap" rel="stylesheet">


<a class="" href="@Url.Action("ShowPantsall","Pants")"><button type="button">All shoes</button></a>
<a class="" href="@Url.Action("MangerTable","Pants")"><button type="button">Manger Mode</button></a>
<a class="" href="@Url.Action("OnlyLongPants","Pants")"><button type="button">Long Pants</button></a>
<a class="" href="@Url.Action("OnlyShortsPants","Pants")"><button type="button">Short Pants</button></a>
<a class="" href="@Url.Action("GetOnlyDryFitPants","Pants")"><button type="button">DryFit Only</button></a>
<div class="cardContainer">

    @foreach (clothing item in @ViewBag.sortByPrice)
    {
        <div class="cardDiv">
            <img src=@item.linkToClothing class="imageInCard">
            <h4 class="shoeInfo">@item.clothingType @item.clothingModel</h4>
            <p class="priceAndCompanyInfo">
                @item.clothingPrice$  @item.clothingCompany
            </p>

        </div>
    }
</div>